{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styledark.css' %}">
</head>
<body>
    <div class="conteneur_info">
        <div class="left">
            <div class="adresseIP">
                <h1>IP adress : <br> {{ visit_ip }}</h1>
            </div>
            <div class="agent">
                <h1>User agent : <br> {{ visit_user_agent }}</h1>
            </div>
            <div class="adressephy">
                <h1>Location : <br> {{ country }} <br> {{city}} <br> {{ org }}</h1>
            </div>
        </div>            
        <a href="{% url 'anime_list' %}" class="bouton-rond">
            <img src="/static/moon.jpg" alt="moon">
        </a>
        <div class="angle">
            <div class="eye-container">
                <div id="eye">
                    <div id="pupil"></div>
                </div>
            </div>
        </div>  
        <div class="counter">
            <h1>Number of visit : <br> {{ visit_counter }}</h1>
            {% for visit in visit_date %}
                <p>
                    <h1>{{ visit.date }}</h1>
                </p>
            {% endfor %}
        </div>  
    </div>
    <script>
        document.addEventListener('mousemove', function(e) {
            const eye = document.getElementById('eye');
            const pupil = document.getElementById('pupil');
            const eyeRect = eye.getBoundingClientRect();
            const eyeCenterX = eyeRect.left + eye.offsetWidth / 2;
            const eyeCenterY = eyeRect.top + eye.offsetHeight / 2;
            const angle = Math.atan2(e.clientY - eyeCenterY, e.clientX - eyeCenterX);
            const radius = Math.min(eye.offsetWidth, eye.offsetHeight) / 3;
            const pupilX = Math.cos(angle) * radius * 0.9;
            const pupilY = Math.sin(angle) * radius * 0.9;
            pupil.style.transform = `translate(${pupilX}px, ${pupilY}px)`;
        });
    </script>
</body>
</html>

